body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}



.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

#continue{
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
}
#question{
    position: relative;
    width: 50%;
    height: 50px;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: indigo;
    background-color: #feff9d ;
}
.respuestas{
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: indigo;
    align-items: center; 
}
.answers{
    background-color: #feff9d;
    cursor: pointer;
    margin: 0 auto;
}
.yes{
    width: 12%;
    margin-right: 450px;
}
.no {
    width: 12%;
}

/* Poner inactiva alguna sección */
.inactive{
    display: none;
}


@media (max-width: 440px) {
    button {
        margin-top: 5px;
    }

    #up, #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}

@media (max-width: 861px) {
    #question{
        width: 100%;
        height: auto;
       margin: 50 auto;
    }

    .yes{

        margin-right: 250px;
    }
}

@media (max-width: 601px){
    canvas {
    margin: 0 auto;
    }
}